<html>
<head>
	<title>小笑话_微信笑话 - 逗死了笑话网</title>
	<meta name="keywords" content="小笑话,微信笑话,经典小笑话" />
	<meta name="description" content="逗死了，是一个经典的微信小笑话网站。每天发布最新最经典的爆笑小笑话、冷笑话、成人小笑话等，超级搞笑、爆笑不止。手机微信浏览，随时随地收获快乐，开心生活每一天。" />
	<%= stylesheet_link_tag "/bootstrap/css/bootstrap.min.css", media: "all" %>
	
	<meta charset="utf8" />
	<style type="text/css">
	html,body { margin:0px; padding:0px; }
	html,body,div,p { font-size:14px; }
	body {
		font: 14px/1.6 "Helvetica Neue",Helvetica,Arial,sans-serif;
	}
	
	#header { background:#02bb00; padding: 20px 0px; }
	#content { margin: 20px auto; }
	h1 { font-size:30px; color:#fff; }
	h3 { font-size: 23px; color:#fff; }
	h1, h2, h3 {
		-webkit-font-smoothing: antialiased;
	}
	h1, h2, h3, h4, h5 {
		font-weight: 400;
		font-style: normal;
		margin: 0 auto;
	}
	h3.title { margin-bottom: 27.5px; color:#000; display:inline-block; position:relative; padding: 0 20px; z-index:1; background:#fff;}
	.c { text-align:center; }
	.l { float:left;}
	.r { float:right; }
	.inner { width: 870px; text-align:center; margin:0 auto; }
	.line { top:18px; position:relative; display:block; border-top:1px solid #cfcfcf; }
	.box { margin: 35px auto; }
	.link img { padding:5px; }
	
	#footer {
		background-color: #ebebeb;
		color: #9f9f9f;
		padding: 45px 0 65px 0;
		font-family: "Myriad Set Pro","Microsoft YaHei";
	}
	#footer a { color:#9f9f9f; text-decoration:underline; }
	#footer a:hover { color:#555; text-decoration:underline; }
	</style>
</head>
<body>
<div id="page">
	<div id="header" class="c">
		<img src="./images/logo.jpg"><br/>
		<img src="./images/back.png"><br/>
		<h1>每天一个小笑话</h1>
		<h3>收获快乐，开心生活每一天！</h3>
	</div>
	
	<div id="content">
		
		
		
		<div class="box inner">
			<em class="line"></em>
			<h3 class="title">经典笑话</h3>
			<div class="link">
				陈欧：我当时做了个游戏平台，GG平台，GG Game，把它做起来了。就凭自己在宿舍里面的一己之力把它做成有数万人在线的平台。当时对斯担福来说，有这样经历的中国人应该是非常非常少的。因为每天写程序，弄得自己特别特别累，每天就是熬夜，熬得非常惨，那段时间就是天天吃番茄炒蛋。因为当时发现最省钱的就是吃番茄炒蛋。
			</div>
		</div>
		

		
	</div>
	
	<div id="footer">
		<div class="inner">
			© 2013 - 2014 dousile.com All Rights Reserved
			<br/><a href="http://www.miitbeian.gov.cn/" target="_blank">豫ICP备13000858号-1</a>
		</div>
		<div id="stat" style="display:none;">
			<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_5016679'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/stat.php%3Fid%3D5016679' type='text/javascript'%3E%3C/script%3E"));</script>
			
		</div>
	</div>
</div>
</body>
</html>